.left_menu h4{
    color: white;
    background: rgb(143, 131, 131);
    height: 20px;
    padding: 10px;
    border-radius: 30px;
}
.left_menu li{
    padding: 10px;
    margin-bottom: 2px;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    opacity: 0.5;
}
.left_menu li:hover{
    opacity: 1;
    border-bottom: solid 1px gray;
}
input{
    width: 130px;
    border: 0px;
    outline: none;
    opacity: 1;
}
input:hover{
    width: 130px;
    border: 0px;
    border-bottom: solid 1px black;
    outline: none;
    opacity: 1;
}
.search{
    cursor: pointer;
}
.search:hover{
    opacity: 0.3;
}


.store_main{
    display: flex;
}

.left_menu{
    margin-top: 250px;
    width: 13%;
    
}

.product_container{
    
    padding-right: 13%;
    width: 100%;
}
.product{
    float: left;
    width: fr;
    padding: 20px;
    margin: 20px;
}
.product_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.sort{
    width: 100%;
    display: flex;
    font-size: 14px;
    padding-left: 80%;
    margin: 40px;
    
}
.sort_views{
    cursor: pointer;
}
.sort_cost{
    cursor: pointer;
}
.product img{
    width: 150px;
}
.product_detail{
    padding: 10px;
    font-size: 13px;
}

.cart_btn{
    border: solid 1px rgb(143, 131, 131);;
    border-radius: 20px;
    cursor: pointer;
    height: 13px;
    padding: 5px;
    color: rgb(143, 131, 131);;
}
.cart_btn:hover{
    background: rgb(143, 131, 131);
    color: white;
    
}
.pages{
    padding-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* detailbox */

.detail_box{
    text-align: start;
    display: flex;
    width: 85%;
    padding-right: 13%;
}
.detail_box select{
    outline: none;
}
.detail_box button{
    margin-left: 20px;
    width: 170px;
    background-color: white;
    height: 60px;
    border-radius: 30px;
}
.detail_box button:hover{
    color: white;
    background-color: black;
}
.detail_img{
    
    width: 80%;
    height: 70%;
    margin-left: 10%;
}
.detail_img img{
    
    width: 80%;
    height: 70%;
    margin-left: 10%;
}
.detail_detail{
    width: 50%;
    height: 70%;
    
}

